.inline-combobox{
	background-color: transparent;
	margin: 0;
	padding: 0;
}
.inline-combobox::part(input-field) {
    background-color: transparent;
	padding: 0;
	margin: 0;
}
vaadin-grid::part(header) {
    display: none;
}
.description-div{
	padding: 0;
	margin: 0;
	text-align: center;
}